kind: Service
apiVersion: v1
metadata:
  name: timu-powerboards
  labels:
    name: timu-powerboards
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
  - protocol: TCP
    port: 8000
    targetPort: http
    name: http
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Chart.Name }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app:  {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        version: v1
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image }}
        imagePullPolicy: "IfNotPresent"
        resources:
          requests:
            cpu: {{ default "100m" .Values.cpu }}
            memory: 0m
          limits:
            cpu: "500m"
        env:
        - name: PORT
          value: "8000"
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
      imagePullSecrets:
      - name: {{.Values.global.imagePullSecretName}}
